.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 100px 50px;
}
.cart-container {
  background: rgba(255, 153, 0, 0.3);
}
.clear-btn-bg {
  background: #ff3030;
}
.order-review-btn-bg {
  background: #ff9900;
}

@media screen and (max-width: 1100px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .products-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 250px;
    margin-left: 10px;
  }
  .cart-container {
    width: 300px;
  }
}
